<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-danger text-muted">Welcome</h4>
                        </div>
                        <button type="button" class="btn btn-warning text-center" (click)="register()"> Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>